<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Welcome to the Restaurant Generator</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="/newuser">New User</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/newrestaurant">New Restaurant</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/editdiner">Edit Diner Name</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/editrestaurant">Edit Restaurant Name</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/deletediners">Delete Diners</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/randomselect">Random Select</a>
    </li>
    
  </ul>
</nav>