<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>
<!--creates the area for the results--> 
    <main>
        <div class="row">
            <div class="col-sm-8">
                <div class="jumbotron">
                    <h1> Welcome! </h1>
                    <p>This website is for a random restaurant selector. Navigate through the menu to add and edit diners and restaurants.</p>
                    <p> When you're ready, click submit in the Random Select tab to generate a random restaurant from your list!</p>
                </div>
            </div>
        
            
        
        </div>
        
        <div>
            
            
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>
</html>